@import './variables';

$avatar-size: 32px;
$board-bg-color: #F4F4F4;

.board {
  background-color: $board-bg-color;
  width: 100%;
  margin: 16px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;
    // margin: 16px * -1 16px * -1 16px;

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  h2 {
    font-size: 16px;
  }
  
  &_title {
    font-size: 22px;
  }

  &_comment {
    padding: 16px 16px;
  }

  &_detail {
    padding-top: 0px;
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }

    &_actions {
      // justify-content: flex-end;
      right: 0px;
      position: absolute;
    }
  }

  &_content {
    padding: 16px 16px 32px;
  }
}