@import './variables';

.btn-primary {
  border: none;
  width: 100%;
  top: 889px;
  margin: 8px 0px;
  padding: 16px 24px;
  text-align: center;

  background: #F8BD1C;
  border-radius: 4px;
  font-family: 'Avenir';
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}